QPushButton {
    background-color: #C5C5C5;
    border: none;
    border-radius: 6px;
    border-color: beige;
    min-width: 10em;
    padding: 6px;
    text-align: left;
}

QPushButton:pressed {
    background-color: #999999;
}