QPushButton {
    background-color: #DDDDDD;
    border: none;
    border-radius: 6px;
    border-color: beige;
    min-width: 10em;
    padding: 6px;
    text-align: left;
}

QPushButton:pressed {
    background-color: #666666;
}